.section{
    border-style: solid;
    border-width: thin;
    border-color: #C0C3C3;
}
.name{
    margin-left: 1em;
    font-size: 2em;
}

.label{
    margin-left: 2em;
}
.number{
    font-size: 3em;
    margin-left: 2em;
    margin-bottom: 0em;
    margin-top: 0.5em;
}
.value{
    width: 22em;
    height: 5em;
}
.add-button{
    background-color: #FFFFFF;
    width: 10%;
    height: 2em;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #C0C3C3;
    position: relative;
    top: 2.5em;
    right: 11.5em;
}

.add{
    position: relative;
    left: 73em;
    bottom: 7em;
}

.search{
    position: relative;
    width: 20em;
    height: 3em;
    border-width: thin;
    margin-left: 4em;
    margin-bottom: 30em;
    bottom: 25em;
}
.result{
    position: relative;
    width: 85em;
    height: 30em;
    left: 1em;
    top: 3.6em;
}

.to-doctor{
    position: relative;
    left: 80em;
    bottom: 5em;
    color: #714399;
    text-decoration: none;
}

